{% extends "base.html" %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="static/styles/blog.css">



<h1 id="top_header">Blogs</h1>


{% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        {%  for blog in blogs %}
        <div class='link'>'
            <a href='/blog?id={{blog.id}}'id="links"name ='links'><em>{{blog.title}}</em></a>
        </div>
            <!--<p>{{blog.id}}</p>-->
            <p name='blog_id'>{{blog.body}}</p>
            <p id = 'author'>Author {{author}}</p>
            <form method='GET' action='/blog'>
                <input type="hidden" name='blog_id' id='blog_id' value={{blog.id}} />
            </form>
                
        {% endfor %}

    {% endif %}

{% endblock %}