{% extends "base.html" %}

{% block content %}
<style>
   body {
         background-color: #99ccff;
    }
    #top_header {
        text-align: center;
        font-family: Garamond, cursive;
        font-weight: bold;
    }
    #links {
        font-size: 40px;
    }
    p {

    }

</style>


<h1 id="top_header"><em>Blogs<em></h1>


{% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        {%  for blog in blogs %}

            <a href='{{url_for('blog_entry', title=blog.title, body=blog.body)}}'id="links">{{blog.title}}</a>
        
            <!--<p>{{blog.id}}</p>-->
            <p>{{blog.body}}</p>
                
        {% endfor %}

    {% endif %}

{% endblock %}