{% extends "base.html" %}

{% block content %}
<style>
    body{
        background-image: url('static/images/wild_flowers.png');
    }
    .error{
        color: red;
    }
    form, h1{
        text-align: center;
    }
    h1{
        font-size: 50px;
        background-color: #99ccff;
    }
    label{
        font-size: 20px;
    }
    textarea {
        width: 300px;
        height: 150px;
    }
    .formfield * {
        vertical-align: middle;
    }
    
</style>

<h1 id="top_header">Add a Blog Entry</h1>

<form action='/newpost' method='POST'>
    <label for="title">
    Title:
        <input type="text" name='title' id='title' />
    </label>
    <p class="error">{{title_error}}</p>
    <p class='formfield'>
    <label for="body">Body:
        <textarea id='body' name="body" value='body'></textarea>
    </lable>
    </p>
    <p class="error">{{body_error}}</p>
    <p>
        
        <input type="submit" value="Submit!">
    </p>
</form>


{% endblock %}