{% extends "base.html" %}

{% block content %}
<style>
    .error{
        color: red;
    }
    
</style>

<h1 id="top_header">Add a Blog Entry</h1>

<form  method='POST'>
    <label for="title">
    Title:
        <input type="text" name='title' id='title' />
    </label>
    <p class="error">{{title_error}}</p>
    <p>
    <label for="body">Body:
        <textarea id='body' name="body" value='body'></textarea>
    </lable>
    </p>
    <p class="error">{{body_error}}</p>
    <p>
        
        <input type="submit" value="Submit!">
    </p>
</form>


{% endblock %}