{% extends "base.html" %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="../static/styles/newpost.css"


<div id="new_header">
    <h1>Add a Blog Entry</h1>
</div>

<form action='/newpost' method='POST'>
    <label for="title">
    Title:
        <input type="text" name='title' id='title' />
    </label>
    <p class="error">{{title_error}}</p>
    <p class='formfield'>
    <label for="body">Body:
        <textarea id='body' name="body" value='body'></textarea>
    </lable>
    </p>
    <p class="error">{{body_error}}</p>
    <p>
        
        <input type="submit" value="Submit!">
    </p>
</form>


{% endblock %}