{% extends 'base.html' %}

{% block content %}
<div id='single_user'>
<link rel="stylesheet" type="text/css" href="../static/styles/base.css">

<h1 style='font-size: 40px;'>{{user_name.username}}</h1>

{% if user_blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

    {%  for blog in user_blogs %}

        <h1><a href='/blog?id={{blog.id}}'>{{blog.title}}</a></h1>
        
        <p style='text-align: center;'>{{blog.body}}</p>

    {% endfor %}



 {% endif %}
<div id = 'author_single'>
    <a href='/blog?owner={{user_name.id}}'> Author {{user_name.username}}</a></p>
</div>
</div>

{% endblock %}