<style>
   
    h1, p{
        text-align: center;
    }
    #top_header {
        text-align: center;
        
        font-size: 60px;
    }
    #links {
        font-size: 40px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
        
    }
    p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;

        font-size: 25px;
    }
    .link{
        text-align: center;

    }
    body {
         background-image: url('../images/congruent_pentagon.png');

    }
    #author{
        color: grey;
        font-size: 15px;
    }

</style>